<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- 모바일 화면에서 가로 스크롤 없애기 -->
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" name="viewport" />

    <!-- Bootstrap (CSS, JS) -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>

    <!-- Web Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet" />
    
    <!-- FontAwesome -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" /> -->
    <script src="https://kit.fontawesome.com/f1def33959.js" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="http://101.101.218.8:8000/css/base.css" />
    <link rel="stylesheet" href="http://101.101.218.8:8000/css/header.css" />
    <link rel="stylesheet" href="http://101.101.218.8:8000/css/mypage.css" />

    <!-- <title>오늘 뭐먹지? {% block page_title %}{% endblock page_title %}</title> -->
    <title>오늘 뭐먹지?</title>
  </head>
  <body>
    <div class="container">
      <%- include ("./header") %>
      <!-- {% include "header.html" %} {% block content %} {% endblock %} {% block script %} {% endblock %} -->
    </div>
  </body>
