<html lang="ko">
  <head>
    <!-- 이 라이브러리를 이용해 socket 접속 (ajax로 만든 socket 라이브러리) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>

    <!-- jquery -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>

    <!-- Bootstrap (CSS, JS) -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
    <!-- font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&display=swap"
      rel="stylesheet"
    />
    <!-- icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css"
    />

    <title>채팅</title>

    <style>
      :root {
        --color-black: #1d1d1f;
        --color-navy: #303142;
        --color-white: #f8f8ff;
        --color-blue: #7289f4;
        --color-coral: #ff9f88;
        --color-orange: #ffcb68;
        --color-gray1: #cbcbd1;
        --color-gray2: #c1c1c8;
        --color-gray3: #8d8d93;
        --color-gray4: #5c5c61;
        --color-gray4: #434349;
      }

      html {
        height: 100vh;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 14px;
      }
      body {
        height: 100vh;
        overflow-x: hidden; /* 가로 스크롤 안생기게 */
        box-sizing: border-box;
        color: var(--color-black);
      }
      #container {
        width: 100%;
        height: 100vh;
        /* background: rgb(48, 49, 66);
        background: linear-gradient(
          69deg,
          rgba(48, 49, 66, 1) 0%,
          rgba(38, 38, 47, 1) 60%,
          rgba(29, 29, 31, 1) 100%
        ); */
        padding: 50px 0;
      }
      .one {
      }
      .three {
        border-radius: 8px;
        height: 20%;
        background-color: var(--color-blue);

        display: flex;
        justify-content: center;
        align-items: center;
      }
      .my-wrapper {
      }
      .my-profile {
        margin-right: 15px;
      }
      .my-username {
        font-weight: 500;
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
      }
      .four {
        border-radius: 8px;
        height: 80%;
        background-color: var(--color-gray1);
      }
      .two {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--color-white);
        border-radius: 8px;
      }
      .chatting-warpper {
      }
      .chatting-tit {
        font-size: 3rem;
        font-weight: 700;
        padding: 0 20px;
      }
      .chatting-window {
      }
      .input-wrapper {
      }
    </style>
  </head>
  <body>
    <div id="container">
      <div class="container">
        <div class="row h-100">
          <div class="one col-3 p-0">
            <div class="three">
              <div class="my-wrapper">
                <div>
                  <img
                    class="my-profile"
                    src="../uploads/userDefault.png"
                    alt="나의 프로필 사진"
                    width="75px"
                  />
                  <span class="my-username">USERNAME</span>
                </div>
              </div>
            </div>
            <div class="four">userlist</div>
          </div>
          <div class="two col-9 p-0">
            <div class="chatting-wrapper h-100">
              <div class="chatting-tit">Chat</div>
              <div class="chatting-window">aa</div>
            </div>
            <div class="input-wrapper m-0">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  id="msg"
                  onkeypress="pressEnter()"
                  placeholder="Write here..."
                  autofocus
                />
                <button
                  type="button"
                  class="btn btn-secondary"
                  onclick="sendChat()"
                >
                  SEND
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      // view에서의 소켓 연결
      // io.connect(): 라이브러리 코드에 정의되어 있음
      let socket = io.connect();
      console.log(socket);

      let socket_id;

      function pressEnter() {
        if (event.keyCode == 13) sendChat();
      }

      function sendChat() {
        if ($('#msg').val().trim() !== '') {
          socket.emit('sendMsg', {
            message: $('#msg').val(),
          });
        }
        $('#msg').val('');
      }

      function updateList(data) {
        let cnt = Object.keys(data['userList']).length; // 접속자 수 = 리스트 길이
        $('.cnt').text(cnt);
        $('.userlist_item').html('');

        for (let i in data['userList']) {
          $('.userlist_item').append(
            `<div class="d-flex justify-content-between">
              <div class="d-flex hasProfile">
                <img class="profile_item" src="img/${data['userList'][i].filename}" alt="프로필사진" />
                <div class="user_item">${data['userList'][i].nickname}</div>
              </div>
              <div>
                <button class="DM_btn btn btn-outline-dark"><i class="bi bi-chat"></i></button>
              </div>
            </div>`
          );
        }
      }

      // 소켓 연결시 바로 client가 socketid를 가지도록 함
      socket.on('skcreated', (data) => {
        socket_id = data;
        // socket_id = data['socketid'];
      });

      socket.on('myMsg', (data) => {
        // 내 메세지인 경우, 우정렬 출력되도록
        console.log('** myMsg **');
        // console.log(data);

        $('#chat').append(
          `<div id="mychat-item-box">
            <span class="time">${data['now']}</span>
            <div id="mychat-item">
              <span>${data['message']}</span>
            </div>
          </div>`
        );

        $('#chat-box').scrollTop($('#chat').height()); // scroll
      });

      socket.on('newMsg', (data) => {
        // 나 != 발신인
        if (socket_id['socketid'] != data['socketid']) {
          console.log('** newMsg **');
          $('#chat').append(
            `<div id="msg-box">
              <div id="chat-user">${
                data['userList'][data['socketid']].nickname
              }</div>
              <div class="hasProfile" id="chat-item-box">
                <img src="img/${
                  data['userList'][data['socketid']].filename
                }" alt="프로필사진"/>
                <div id="chat-item">
                  <span>${data['message']}</span>
                </div>
                <span class="time">${data['now']}</span>
              </div>
            </div>`
          );
        }

        $('#chat-box').scrollTop($('#chat').height()); // scroll
      });

      socket.on('noticeIn', (data) => {
        updateList(data);
        $('#chat').append(`<div class="notice">${data['notice']}</div>`); // 입장 공지
      });

      socket.on('noticeOut', (data) => {
        $('#chat').append(`<div class="notice">${data['notice']}</div>`); // 퇴장 공지
      });

      socket.on('updateList', (data) => {
        updateList(data);
      });
    </script>
  </body>
</html>
