<header>
  <div id="header" class="d-flex flex-column flex-md-row align-items-center mt-3 mt-md-0">
    <div>
      <a
        href="http://101.101.218.8:8000/"
        class="site_name d-flex align-items-center text-dark text-decoration-none"
        style="font-size: 1.8rem"
      >
        ьШдыКШ ынРыи╣ьзА?ЁЯдФ &nbsp;
      </a>
    </div>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a class="menu_item me-3 py-2 dark text-decoration-none text-primary" href="#">GOODPLACES</a>
      <!-- <a class="menu_item me-3 py-2 dark text-decoration-none text-primary" href="#">RECIPES</a></b> -->
      <a class="menu_item me-3 py-2 dark text-decoration-none text-primary" href="http://101.101.218.8:8000/mypg">MYPAGE</a>
      <a class="menu_item me-3 py-2 dark text-decoration-none text-primary" href="#">LOGOUT</a>
      <a class="menu_item py-2 dark text-decoration-none text-primary" href="http://101.101.218.8:8000/login">LOGIN</a></b>
    </nav>
  </div>
</header>