<%- include ("./base") %>

<div class="container">
  <div class="tit_signout">회원탈퇴 안내</div>
  <div class="desc_signout my-5">
    <p>회원 탈퇴를 신청하기 전에 안내 사항을 확인해주세요.</p>
    <p>
      현재 사용 중인 계정(<span class="text-primary"><b>{{session}}</b></span
      >)을 <b class="text-danger">탈퇴할 경우 재사용 및 복구가 불가능</b>합니다
    </p>
    <p>탈퇴 후 회원님의 개인정보와 서비스 이용 기록은 모두 삭제됩니다. 탈퇴에 동의하시겠습니까?</p>
  </div>

  <div class="d-flex justify-content-center align-items-center">
    <form action="http://101.101.218.8:8000/leaveMem" method="POST">
      <button type="submit" class="btn btn-danger m-1">동의 및 회원 탈퇴하기</button>
    </form>
  </div>
</div>
