<%- include ("./base") %>

<div class="container">
  <!-- <a href="http://101.101.218.8:8000/signup">회원가입</a>
  <a href="http://101.101.218.8:8000/login">로그인</a>
  <a href="http://101.101.218.8:8000/leaveMem">회원탈퇴</a> -->
  
  <div>
    <span id="site_name_main" class="site_name">🤔오늘 뭐먹지?</span>
  </div>
  <div>
    <span id="whatToEat_box">
      🍴오늘 <span id="whatToEat">?</span> 먹자!</div>
    </span>  
    <div class="d-flex row">
      <div id="whatToEat_detail">
        <p>매일매일 뭐 먹을지 고민하신다면?! 지금부터 오늘 뭐먹지와 함께!!</p>
        <p>전국 각지의 맛집을 리뷰하고 다른 유저들의 맛집 정보까지 비교해보세요. 여러분의 숨은 맛집은 어디인가요?</p>
      </div>
  </div>
</div>