<html lang="ko">
  <head>
    <!-- 이 라이브러리를 이용해 socket 접속 (ajax로 만든 socket 라이브러리) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>

    <!-- jquery -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>

    <!-- Bootstrap (CSS, JS) -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>

    <title>채팅</title>

    <style>
      .tit_chat {
        /* background-color: #ff9f88; */
        padding: 4px 8px;
        font-size: 24px;
        font-weight: bold;
      }
      #list-box {
        background-color: #ffcb68;
        height: 600px;
        overflow-y: auto;
      }
      #chat-box {
        background-color: #f8f8ff;
        height: 600px;
        overflow-y: auto;
      }
      #chat-item-box {
        display: flex;
        align-items: flex-end;
      }
      #mychat-item-box {
        display: flex;
        align-items: flex-end;
        justify-content: right;
      }
      #chat-item {
        background-color: #303142;
        color: #f8f8ff;
        border-radius: 8px;
        min-width: 50px;
        max-width: 300px;
        margin: 6px 4px 6px 12px;
        padding: 6px;
      }
      #mychat-item {
        background-color: #7289f4;
        color: #f8f8ff;
        border-radius: 8px;
        max-width: 300px;
        margin: 6px 12px 6px 4px;
        padding: 6px;
        text-align: end;
      }
      .time {
        font-size: 10px;
        margin: 4px 0;
      }
      .notice {
        color: #303142;
        font-style: italic;
        font-size: 14px;
        text-align: center;
        margin: 2px 0;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-3" id="list-box">
          <div class="tit_chat">User List</div>
          <div class="userlist_box">
            <div class="userlist_item">userlist...</div>
          </div>
        </div>
        <div class="col-9" id="chat-box">
          <div class="tit_chat">Chat Chat</div>
          <div id="chat"></div>
        </div>
      </div>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          id="msg"
          onkeypress="pressEnter()"
          placeholder="Write here..."
          autofocus
        />
        <button
          type="button"
          class="btn btn-outline-secondary"
          onclick="sendChat()"
        >
          SEND
        </button>
      </div>
      <h1><%=userNick%></h1>
    </div>

    <script>
      // view에서의 소켓 연결
      // io.connect(): 라이브러리 코드에 정의되어 있음
      let socket = io.connect();
      console.log(socket);

      let socket_id;
      let userList = []; // 배열 원소: { socketid, nickname }

      function pressEnter() {
        if (event.keyCode == 13) sendChat();
      }

      function sendChat() {
        if ($('#msg').val() === '') {
          alert('메세지를 입력해주세요');
        } else {
          socket.emit('sendMsg', {
            message: $('#msg').val(),
          });
          $('#msg').val('');
        }
      }

      // 소켓 연결시 바로 client가 socketid를 가지도록 함
      socket.on('skcreated', (data) => {
        socket_id = data;
        // socket_id = data['socketid'];
      });

      socket.on('myMsg', (data) => {
        // 내 메세지인 경우, 우정렬 출력되도록
        console.log('** myMsg **');
        console.log(data);

        $('#chat').append(
          `<div id="mychat-item-box">
            <span class="time">${data['now']}</span>
            <div id="mychat-item">
              <span>${data['message']}</span>
            </div>
          </div>`
        );

        $('#chat-box').scrollTop($('#chat').height()); // scroll
      });

      socket.on('newMsg', (data) => {
        // 나 != 발신인 // err 여기서 에러났던듯 (시리얼 넘버 vs. 변경된 닉네임)
        if (socket_id['socketid'] != data['socketid']) {
          // console.log('** newMsg (1) **');
          // console.log(socket_id['socketid']); // 소켓아이디 (시리얼 넘버)
          // console.log('** newMsg (2) **');
          // console.log(data['socketid']); // 변경된 닉네임
          $('#chat').append(
            `<div id="chat-item-box">
              <div id="chat-item">
                <span>${data['socketid']}</span> : <span>${data['message']}</span>
              </div>
              <span class="time">${data['now']}</span>
            </div>`
          );
        }

        $('#chat-box').scrollTop($('#chat').height()); // scroll
      });

      socket.on('noticeIn', (data) => {
        $('#chat').append(`<div class="notice">${data['notice']}</div>`);
        // data['userList'].forEach((element) => {
        //  console.log(element.nickName);
        // });
        // data['userList'].forEach((element) => console.log(element.nickName));

        userList.length = 0; // 초기화
        userList = data['userList'];
        console.log(userList);
        $('.userlist_item').after(`<div>${userList}</div>`);
      });

      socket.on('noticeOut', (data) => {
        $('#chat').append(`<div class="notice">${data['notice']}</div>`);
      });
    </script>
  </body>
</html>
