<%- include ("../base") %>

<div class="container">
  <div class="mypage_box row">
    <!-- MyPage -->
    <div class="col-12 col-lg-4">
      <div class="tit_mypage"><i class="far fa-user"></i>&nbsp; MYPAGE</div>
      <div class="row mt-4">
        유저 정보 띄우기
        <div class="d-flex justify-content-center mt-3">
          <a href="http://101.101.218.8:8000/leaveMem">
            <button class="btn btn-outline-dark m-1">회원 탈퇴하기</button>
          </a>
        </div>
      </div>
    </div>

    <div class="user_post col-12 col-lg-8 mt-5 mt-lg-0">
      <!-- My Postings -->
      <div class="tit_mypage">
        <i class="far fa-sticky-note"></i>&nbsp; MY POSTINGS
      </div>
      <div class="mt-3">포스팅 정보 띄우기</div>
    </div>
  </div>
</div>
